@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Plus Jakarta Sans;
  src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --primary: hsl(220.47 98.26% 36.08%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 92.99% 56.11%);
  --destructive-foreground: hsl(210 40% 98%);
  --ring: hsl(220.67 97.83% 36.08%);
  --chart-1: hsl(220.47 98.26% 36.08%);
  --chart-2: hsl(210 40% 96.1%);
  --chart-3: hsl(210 40% 96.1%);
  --chart-4: hsl(210 40% 99.1%);
  --chart-5: hsl(220.47 101.26% 36.08%);
  --radius: 0.6rem;
}

.dark {
  --background: hsl(240 13.73% 10%);
  --foreground: hsl(229.76 31.78% 74.71%);
  --muted: hsl(232.5 15.44% 18.32%);
  --muted-foreground: hsl(233.79 11.37% 50%);
  --popover: hsl(234.55 17.46% 12.35%);
  --popover-foreground: hsl(234 12.4% 52.55%);
  --card: hsl(234.55 17.46% 12.35%);
  --card-foreground: hsl(229.76 31.78% 74.71%);
  --border: hsl(232.5 15.38% 20.59%);
  --input: hsl(232 20% 14.71%);
  --primary: hsl(225.45 71.22% 72.75%);
  --primary-foreground: hsl(234.55 17.46% 12.35%);
  --secondary: hsl(0 0% 82.75%);
  --secondary-foreground: hsl(0 0% 20%);
  --accent: hsl(227.73 48.05% 48.58%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(1.58 47.5% 52.94%);
  --destructive-foreground: hsl(210 40% 98.04%);
  --ring: hsl(225.45 71.22% 72.75%);
  --chart-1: hsl(225.45 71.22% 72.75%);
  --chart-2: hsl(0 0% 82.75%);
  --chart-3: hsl(227.73 48.05% 48.58%);
  --chart-4: hsl(0 0% 85.75%);
  --chart-5: hsl(225.45 74.22% 72.75%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-jakarta-sans: Plus Jakarta Sans, "sans-serif";
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-jakarta-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
